<head>
  <meta charset="utf-8">

  <!--[if lt IE 9]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <![endif]-->

  <title>{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <link rel="stylesheet" href="/css/main.css">

  <!--[if lt IE 9]>
    <style>
      header, footer, section {
        display: block;
      }
    </style>

    <script>
      document.createElement("header");
      document.createElement("footer");
      document.createElement("section");
    </script>
  <![endif]-->

</head>
